.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
.screenDetail {
    font-weight: bolder;
    color: rgb(95, 63, 5);
}
.screenImg {
    position: relative;
}
.timer {
    position: absolute;
    content: "";
    top:30%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
.time {
    color: rgb(35, 122, 122);
}
.cost {
    font-weight: bolder;
    color: rgb(5, 92, 12);
}
.buttons {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1rem;
}
.addScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.addScreen p {
    font-weight: bolder;
}
.modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screenCtrl {
    position: absolute;
    top: -0.2rem;
    right: -1.5rem;
    cursor: pointer;
}
.options {
    position: absolute;
    top: 0;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: rgb(4, 43, 43);
    transition: opacity 0.3s linear;
}
.options div {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.show {
    opacity: 1;
    pointer-events: all;
}
.hide {
    opacity: 0;
    pointer-events: none;
}
.deleteConfirm {
    color: rgb(214, 10, 10);
}
@media screen and ( max-width: 767px) {
    .screenCtrl {
        right: -0.5rem;
    }
}